.title-container{
    text-align: center;
    border: 1px solid black;
    padding: 10px;
    margin: 4px;
    box-shadow: 0px 0px 0.5px 1px #808080;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: coral;
}
.title-container:hover{
   background-color: white;
}
.conatiner{
    height: 300px;
    width: 390px;
    padding: 20px;
    border: 0.1px inset black;
    overflow:auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    margin-bottom: 30px;
    background-color:orange;
}
.conatiner:hover{
    box-shadow: 3px 4px 1px 1.2px #808080;
}
.conatiner-title{
   text-align: center;
   font-size: 28px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   margin-bottom: 7px;
}

.cont-img{
    height: 100px;
    width: 100px;
}






/* 
.container{
    height: 350px;

    margin-top: 150px;
    margin-left: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
   
}
 .table-container{
   height: 300px;
   display: flex;
   justify-content: space-between;
  
  
   

} 
.Tables{
    background-image: url(https://tse1.mm.bing.net/th?id=OIP.sdCefo2Y74KqDqs9zzk6CgHaE8&pid=Api&P=0) ;
   
    height: 200px;
    width: 250px;
   
    
    display: inline-block;
    align-content: center; */
   


/*   
}
.Tables:hover{
   box-shadow: 2px 3px 2px 3px rgba(0, 0,0,0.2);
  

}

.book{
    height: 50px;
    width: 150px;
    border: 1px white solid;
    background-color: white;
    color: balck;
    margin-top: 75px;
    margin-left: 50px;
    font-weight: bolder;
    box-shadow:2px 1px 2px 3px rgba(0, 0, 0, 0.3) ;
}

.book:hover{
    background-color: red;
    font-size: 20px;

}
.btn-confirm{
   
margin-top: 550px;
margin-left: 550px;
height: 50px;
width: 200px;
background-color: rgb(0, 115, 255);
color: black;
font-weight: bold;
border-radius: 5px;
border: 1px inset white;

}
.btn-confirm:hover{
    box-shadow:2px 2px 2px 3px rgba(0, 0, 0, 0.3) ;
}  */ 