.confirm-button{
   margin-left: 700px;
   margin-right: 650px;
   color: red;
   margin-top: 20px;
   border: 2px black solid;
}
.Container{
    border: solid black 3px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 40px;
    padding: 20px;
}